@import url("sections/header.css");

 {background-color:ou
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.image {
  background-color: black;
  display: inline-flex;
}
.restorant {
  background-color: black;
  display: inline-flex;
}
.star {
  background-color: black;
  display: inline-flex;
}
