nav {
  background-color: #f4f7fb;
  padding: 2em 0;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links ul {
  display: flex;
  gap: 3em;
}
.nav__links ul li {
  list-style-type: none;
}
.nav__icons {
  display: flex;
  gap: 3em;
}

p {
  padding-top: 2em;
}
h1 {
  padding-top: 2em;
}
hero{
  padding-left: 2em
  border-radius: 2em%;
}
.hero__pizza{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new__menu p{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.special__menu{
  display: flex;
  justify-content: center;
  align-self: start;
}
.hero{
  display: flex;
  justify-content: space-between;
}
.image{
  display: flex;
  justify-content: space-between;

}
.image__left{
  background-color: #f4f7fb;
}
.image__center{

  background-color: #f4f7fb;
}
.image__right{
  background-color: #f4f7fb;
}
.images-cutlery{

  display: inline-flex;
  background-color: black;
}
.restorant{
  display: inline-flex;
  background-color: black;
}
.star {
  background-color: black;
  display: inline-flex;
}